<!DOCTYPE html>
<html>
  <head>
		<title>Yasiks</title>
		<link rel='stylesheet' href='module/css/bootstrap.min.css' />
		<link rel='stylesheet' href='module/css/font-awesome.min.css' />
		<link rel='stylesheet' href='stylesheets/common.css' />
		<link rel='stylesheet' href='stylesheets/home.css' />
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="imgs/logo2_sample.png" width="auto" height="30" class="d-inline-block align-top" alt="">
			</a>
		</nav>
		<div class="row">
			<div class="col-4 user-form">
				<h2> Koo Bonchan</h2><br>
				<label for="phone-number">Phone</label><h5 id="phone-number"> 01053874275</h5>
				<label for="dorm">Dorm</label><h5 id="dorm"> Munji </h5>
				<a href="/room" class="btn btn-primary new-room" data-toggle="modal" data-target="#create-room-modal"><h3>Create New Room</h3></a>
			</div>
			<div class="col">
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
 							<h5 class="mb-1 ">MARU</h5>
							<small>SJ Hyun</small>
		 				</div>
						<div class="price">8000 / <span class="min-price">12000</span></div>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
 							<h5 class="mb-1 ">MARU</h5>
							<small>Aebe Cee</small>
		 				</div>
						<div class="price">8000 / <span class="min-price">12000</span></div>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
 							<h5 class="mb-1 ">MARU</h5>
							<small>Gana Da</small>
		 				</div>
						<div class="price">8000 / <span class="min-price">12000</span></div>
					</a>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="create-room-modal" tabindex="-1" role="dialog" aria-labelledby="Create new order group" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Create New Room</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Create</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="module/js/bootstrap.min.js"></script>
		<script src="src/home.js"></script>
	</body>
</html>