<!DOCTYPE html>
<html>
  <head>
		<title>Yasiks</title>
		<link rel='stylesheet' href='/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/css/font-awesome.min.css' />
		<link rel='stylesheet' href='/css/common.css' />
		<link rel='stylesheet' href='/css/room.css' />
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="imgs/logo2_sample.png" width="auto" height="30" class="d-inline-block align-top" alt="">
			</a>
		</nav>
		<div class="row">
			<div class="col-4 order-info">
				<div id="restaurant"></div>
				<div id="price"></div>
				<div class="container order"></div>
				<a href="#" class="btn btn-secondary"><h3>Change my order</h3></a>
				<a href="#" class="btn btn-primary disabled" ><h3>Order Now</h3></a>
			</div>
			<div class="col-7 chat">
				<ul class="chat-log">
					<li class="list-item">
						<div class="my-chat">
							<h4>I will buy U <span class="chat-icon dot"></span></h4>
						</div>
					</li>
					<li class="list-item">
						<div class="your-chat">
							<h4><span class="dot"></span> Thanks, prof.</h4>
						</div>
					</li>
				</ul>
				<div class="row chat-box">
					<div class="col-9 chat-input"></div>
					<div class="col-3 chat-submit">
						<button class="btn btn-primary chat-submit"><h3>send<h3></button>
					</div>
				</div>
			</div>
			<div class="col-1">
				<img src="imgs/user_a.png" class="user-icon">
				<img src="imgs/user_b.png" class="user-icon" >
				<img src="imgs/nouser.png" class="user-icon" >
				<img src="imgs/nouser.png" class="user-icon" >
			</div>
		</div>

		<!-- Order Change Modal -->
		<div class="modal fade" id="create-room-modal" tabindex="-1" role="dialog" aria-labelledby="Create new order group" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Create New Room</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<select>
							<option value="none">-Choose restaurant</option>
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Create</button>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/home.js"></script>
	</body>
</html>