<!DOCTYPE html>
<html>
  <head>
		<title><%=title%></title>
		<link rel='stylesheet' href='/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/css/all.css' />
		<link rel='stylesheet' href='/css/common.css' />
		<link rel='stylesheet' href='/css/room.css' />
	</head>
	<body>
		<input type="hidden" id="roomID" value="<%=roomID%>" />
		<input type="hidden" id="name" value="<%=name%>" />
		<nav class="navbar navbar-light bg-light">
			<button type="button" class="close" aria-label="Close" onclick="exitRoom()">
				<span aria-hidden="true">&times;</span> EXIT
			</button>	
			<a class="navbar-brand" href="#">
				<img src="imgs/logo2_sample.png" width="auto" height="30" class="d-inline-block align-top" alt="">
			</a>
		</nav>
		<div class="row">
			<div class="col-4 order-info">
				<div id="restaurant"></div>
				<div id="dorm"></div>
				<div id="price"></div>
				<div class="container" id="order"></div>
				<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#add-order-modal"><h3>Add order</h3></a>
				<a href="#" class="btn btn-primary disabled"><h3 id="maycall">Cannot Order Yet</h3></a>
				<!-- <a href="#" class="btn btn-primary disabled"><h3 id="maycall">Call 010GARROSH</h3></a> -->
			</div>
			<div class="col-7 chat">
				<ul class="chat-log">
					<!--<li class="list-item">
						<div class="my-chat">
							<h4 class="chat-text">I will buy U</h4>
							<div class="chat-icon dot">SJ</div>
						</div>
					</li>
					<li class="list-item">
						<div class="your-chat">
							<div class="chat-icon dot">KZ</div>
							<h4 class="chat-text">Thanks Prof</h4>
						</div>
					</li>-->
				</ul>
				<div class="row chat-box">
					<input class="col-9 chat-input" onkeydown="if(event.keyCode == 13) sendMessage()"></input>
					<div class="col-3 chat-submit" onclick="sendMessage()">
						<button class="btn btn-primary chat-submit"><h3>send<h3></button>
					</div>
				</div>
			</div>
			<div class="col-1" id="user-list">
				<span>Participants</span>
				<div class="chat-icon dot">SJ</div>
				<div class="chat-icon dot">KZ</div>
			</div>
		</div>

		<!-- Order Change Modal -->
		<div class="modal fade" id="add-order-modal" tabindex="-1" role="dialog" aria-labelledby="add my order" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add order</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="menu">
							<select class="form-control" id="select-menu">
								<option value="none" selected="selected">--- Choose a menu ---</option>
							</select><br />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="addOrder()">Add</button>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/socket.io.js"></script>
		<script src="/js/room.js"></script>
	</body>
</html>