<!DOCTYPE html>
<html>
  <head>
		<title><%=title%></title>
		<link rel='stylesheet' href='/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/css/fontawesome.min.css' />
		<link rel='stylesheet' href='/css/common.css' />
		<link rel='stylesheet' href='/css/login.css' />
	</head>
	<body>
		<div class="row">
			<div class="form-head col-8">
				<img src="/imgs/logo_sample.png" class="logo" />
				<h1 class="title">Yasiks</h1>
				<h3 class="desc">
					Food delivery order group matching system<br>
					For KAIST Dormitorians
				</h3>
			</div>
			<div class='col-3'>
				<form action="/signin/auth" class="login-form" method="POST" onsubmit="return makeHash();">
					<div class="form-group">
						<label for="exampleInputUsername1">Username</label>
						<input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Enter username" name="username">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
					</div>
					<button type="submit" class="btn btn-primary submit signin">Sign In</button>
				</form>
				<a href="/signup/req" class="btn submit signin" data-toggle="modal" data-target="#signupForm">Sign Up</a>
				<!-- need backend check whether http message is sent-->
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="signupForm" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">
						<div class="md-form mb-5">
							<label data-error="wrong" data-success="right" for="orangeForm-name">Username</label>
							<input type="text" id="signup_username" class="form-control validate" name="username">
						</div>
						<div class="md-form mb-5">
							<label data-error="wrong" data-success="right" for="orangeForm-email">Name</label>
							<input type="text" id="signup_name" class="form-control validate" name="name">
						</div>
						<div class="md-form mb-4">
							<label data-error="wrong" data-success="right" for="orangeForm-pass">Password</label>
							<input type="password" id="signup_password" class="form-control validate" name="password">
						</div>
						<div class="md-form mb-4">
							<label data-error="wrong" data-success="right" for="orangeForm-pass">Confirm Password</label>
							<input type="password" id="signup_c_password" class="form-control validate" name="c_password">
						</div>
						<div class="md-form mb-4">
							<label data-error="wrong" data-success="right" for="orangeForm-pass">Phone Number</label>
							<input type="text" id="signup_phone" class="form-control validate" name="phoneNumber">
						</div>
					</div>
					<div class="modal-footer d-flex">
						<button class="btn btn-primary" id="signup-submit">Sign up</button>
					</div>
				</div>
			</div>
		</div>	
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/login.js"></script>
    	<script src="/js/sha512.js"></script>
	    <script>
	        function makeHash()
	        {
	            let password = $('#exampleInputPassword1').val();
	            let hash = sha512(password);
	            $('#exampleInputPassword1').val(hash);
	            return true;
			}
			function requestSignUp()
			{
				let password = $('#signup_password').val();
				let c_password = $('#signup_c_password').val();
				if(password !== c_password)
				{
					alert('패스워드 확인이 일치하지 않습니다.');
					return false;
				}
				else if(password === '' || c_password === '')
				{
					alert('패스워드를 입력해주세요.');
					return false;
				}
				$('#signup_password').val(sha512(password)); // client -> server 보낼 때 SSL 사용하지 못하므로, SHA-512로 해싱해서 보낸다.
				$('#signup_c_password').val('');
				return true;
			}
			$("#signup-submit").addEventListener("click",requestSignUp);
		</script>
	</body>
</html>