<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/css/signup.css">
</head>

<body>

    <div id="container">
        <form id="submitForm" method="POST" action="/signup/req" onsubmit="return requestSignUp()">
            <input placeholder="new username (id)" type="text" id="username" name="username">
            <input placeholder="user nickname" type="text" id="name" name="name">
            <input placeholder="new password" type="password" id="password" name="password">
            <input placeholder="confirm your password" type="password" id="c_password" name="c_password">
            <input placeholder="phoneNumber" type="text" id="phoneNumber" name="phoneNumber">

            <div id="lower">
                <input type="submit" value="Sign up">
            </div>
        </form>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/sha512.js"></script>

    <script>
        function requestSignUp()
        {
            let password = $('#password').val();
            let c_password = $('#c_password').val();

            if(password !== c_password)
            {
                alert('패스워드 확인이 일치하지 않습니다.');
                return false;
            }
            else if(password === '' || c_password === '')
            {
                alert('패스워드를 입력해주세요.');
                return false;
            }

            $('#password').val(sha512(password)); // client -> server 보낼 때 SSL 사용하지 못하므로, SHA-512로 해싱해서 보낸다.
            $('#c_password').val('');
            
            return true;
        }

    </script>

</body>

</html>