.user-form{
	height: 90vh;
	text-align: center;
	padding-top: 15vh;
	padding-right: 0px;
}

.new-room{
	position: absolute;
	bottom: 30vh;
	width: 80%;
	left: 15%
}

.restaurant{
	font-weight: bold;
	width: 13vw;
	display: inline-block;
}


.price{
	float: right;
	font-size: 20px;
	margin-top: -2px;
}

#menu{
	padding: 15px;
}

.form-check{
	border-bottom: solid black 1px;
	height: 30px;
}